.App {
  text-align: center;
  background-color: #f3f3d4;
  transition: ease background-color 250ms;
  height: 100vh;
  min-height: 100vh;
}

.App-Dark {
  text-align: center;
  background-color: #282c34;
  transition: ease background-color 250ms;
  height: 100vh;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Header {
  background-color: #f2f3a9;
  max-height: 400%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 0.5em;
  box-shadow: 2px 2px 2px black;
  position: relative;
  transition: ease background-color 250ms;
}
.App-Header-Dark {
  background-color: #1f071d;
  max-height: 400%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0.5em;
  box-shadow: 2px 2px 2px black;
  position: relative;
  transition: ease background-color 250ms;
}

.App-link {
  color: #61dafb;
}

.Body {
  text-align: center;
  background-color: #f3f3d4;
  transition: ease background-color 250ms;
}

.Body-Dark {
  text-align: center;
  background-color: #282c34;
  color: white;
  transition: ease background-color 250ms;
}

/*#282c34 discord background colors */
