.Title-Styling {
  font: arial;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.Article-Styling {
  font: arial;
  font-size: 20px;
  text-align: left;
  margin-right: 4em;
  margin-left: 4em;
}

.Image-Styling {
  display: block;
  margin: auto;
  padding: 1%;
}
