aniso8601==7.0.0
ariadne==0.13.0
attrs==21.2.0
autopep8==1.5.7
click==8.0.1
Flask==2.0.1
graphql-core==3.1.5
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
pluggy==0.13.1
promise==2.3
py==1.10.0
pycodestyle==2.7.0
pyparsing==2.4.7
pytest==6.2.4
Rx==1.6.1
six==1.16.0
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
