

.Gen-Button-Style {
    border: 0px black;
    font-size: 20px;
    padding: 10px 30px;
    margin: 10px 0px; 
    background-color: #e09c9c;
    color: black;
    // text-shadow: 2px 2px 8px black; used in discord version
    box-shadow: 2px 2px 10px black;
    transition: ease background-color 250ms;
    border-radius: 1em;
    &:hover {
        background-color: #dd8888
    }
}

// discord colors ##3f51b5 default
// #3f51b5 default button
// #283593 hover button
//
//